/* Header Section */

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: mediumaquamarine;
  padding-left: 10px;
}

header nav {
  display: flex;
  padding-right: 50px;
  height: 80px;
  width: 280px;
  align-items: center;
  justify-content: space-between;
  
}

nav a {
  color: black;
  

  /* Header Section */