header {
  display: flex;
  width: auto;
  height: auto;
  span: auto;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}

.logo img {
  padding-right: 10px;
}

header nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav a {
  color: black !important;
  padding: 0 10px;
}

div {
  border: 1px;
  border-color: black;
  border-style: solid;
}

.fullpage {
  display: flex;
  width: 1200px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 78px;
margin-left: auto;
  padding-top: 50px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


p h1 .caption {
  border: 1px solid black;
}


.title {
  color: MediumAquamarine;
}

}
.body {
  display: inline-flex;
}
