.header {
  display: flex;
  width: auto;
  height: auto;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: flex-end;
  justify-content: space-between;
}


.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader img {
  padding-right: 10px;
}

.header li {
  display: inline-flex;
  text-decoration: underline;
  align-items: flex-end;
  width: auto;
  height: auto;
  padding: 10px;
}

div {
  border: 1px;
  border-color: black;
  border-style: solid;
}

.fullpage {
  display: flex;
  flex-direction: row;
}

.caption {
  border: 1px black solid;
}

.title {
  color: MediumAquamarine;
}

.column1 {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.column2 {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.column3 {
  display: inline-flex;
  width: 240px;
}
.body {
  display: inline-flex;
}
